@tailwind base;
html {
  @apply bg-verde;
  @apply text-white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  letter-spacing: -0.025em;
}
h1 {
  @apply text-5xl;
  @apply font-bold;
  letter-spacing: -0.05em;
}
h2 {
  @apply text-4xl;
  letter-spacing: -0.05em;
}
h3 {
  @apply text-3xl;
  letter-spacing: -0.05em;
}

a {
  @apply text-naranjo;
}
img,
svg {
  @apply max-w-full;
}
p {
  @apply pb-4;
}

@tailwind components;
@tailwind utilities;
